html{
    font-size: 10px;
}
body{
    box-sizing: border-box;
    background: url('../img/mainBG.jpg') no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title{
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    font-size: 3rem;
    
}


.slider{
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 100px;

}
.slider__img{
    display: block;
    width: 800px;
    height: 400px;
    cursor: pointer;
    object-fit: cover;
}
.btn__box{
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
   
    
   
}
.btn{
    padding: 20px 30px;
    cursor: pointer;
}
.none{
    display: none;
}